<%= form_for @shop do |f| %>
  <%= render 'shared/error_messages', resource: @shop %>

  <div class="row">
    <div class="col-md-8">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.label :order_prefix %>
      <%= f.text_field :order_prefix, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.label :declare_value %>
      <%= f.select(:declare_value, [["Sim", true], ["Não", false]], { include_blank: false }, { class: 'form-control' }) %>
    </div>
  </div>

  <hr>

  <div class="row">
    <fieldset class="col-md-4">
      <legend>Correios</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_correios %>
          <%= Shop.human_attribute_name(:forward_to_correios) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :correios_code %>
        <%= f.text_field :correios_code, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :correios_password %>
        <%= f.text_field :correios_password, class: 'form-control' %>
      </div>

      <div class="form-group" id="services">
        <%= f.label :correios_services %>
        <% @shop.allowed_correios_services.each do |k,v| %>
          <div>
            <input type="button" id="remove" value="Remover">
            <input checked="checked" name="shop[correios_custom_services][]" type="checkbox" value="<%= "{\"#{k}\":\"#{v}\"}" %>" style="display:none;"><%= k %>: <%= v %>
          </div>
        <% end %>
        <div>
          <input type="button" id="add" style="margin-top:20px;" value="Adicionar">
        </div>
      </div>

    </fieldset>
    <fieldset class="col-md-4">
      <legend>Axado</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_axado %>
          <%= Shop.human_attribute_name(:forward_to_axado) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :axado_token %>
        <%= f.text_field :axado_token, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="col-md-4">
      <legend>Intelipost</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_intelipost %>
          <%= Shop.human_attribute_name(:forward_to_intelipost) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :intelipost_token %>
        <%= f.text_field :intelipost_token, class: 'form-control' %>
      </div>
    </fieldset>
  </div>

  <div class="row" style="margin-top: 30px;">
    <fieldset class="col-md-6">
      <legend>Backup</legend>
      <div class="form-group">
        <%= f.label :backup_method_id %>
        (No caso de API offilne)
        <%= f.select :backup_method_id, @shop.methods.map { |m| [m.name, m.id] },{include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', shops_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<script>
  (function () {
    $("#services").on("click", "#add", function(){
      var code = prompt("Informe o código do serviço");
      var name = prompt("Informe o nome do serviço");
      if(code != "" && name != "" && code != null && name != null){
        $('<div><input type="button" id="remove" value="Remover"> <input checked="checked" name="shop[correios_custom_services][]" type="checkbox" value="{&quot;'+code+'&quot;: &quot;'+name+'&quot;}" style="display:none;"> '+code+': '+name+'</div>').insertBefore( $(this) );
      }
      return false;
    });

    $("#services").on("click", "#remove", function(){
      $(this).parent().remove();
      return false;
    });
  }());
</script>
