<%= form_for @shop do |f| %>
  <%= render 'shared/error_messages', resource: @shop %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="row">
    <fieldset class="col-md-4">
      <legend>Correios</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_correios %>
          <%= Shop.human_attribute_name(:forward_to_correios) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :correios_code %>
        <%= f.text_field :correios_code, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :correios_password %>
        <%= f.text_field :correios_password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :correios_custom_services %>
        <%= f.text_field :correios_custom_services , class: 'form-control' %>
        <p class="help-block">Separar por vírgula e não usar espaços.</p>
      </div>
    </fieldset>
    <fieldset class="col-md-4">
      <legend>Axado</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_axado %>
          <%= Shop.human_attribute_name(:forward_to_axado) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :axado_token %>
        <%= f.text_field :axado_token, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="col-md-4">
      <legend>Intelipost</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_intelipost %>
          <%= Shop.human_attribute_name(:forward_to_intelipost) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :intelipost_token %>
        <%= f.text_field :intelipost_token, class: 'form-control' %>
      </div>
    </fieldset>
  </div>

  <div class="row" style="margin-top: 30px;">
    <fieldset class="col-md-6">
      <legend>Backup</legend>
      <div class="form-group">
        <%= f.label :backup_method_id %>
        (No caso de API offilne)
        <%= f.select :backup_method_id, @shop.methods.map { |m| [m.name, m.id] },{include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', shops_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
