<%= form_for @shop do |f| %>
  <%= render 'shared/error_messages', resource: @shop %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :marketplace_id %>
        <%= f.select :marketplace_id, Shop.where(marketplace_id: 0).order(:name).map { |shop| [shop.name, shop.id] }.unshift(["", 0]), {}, { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :zip %>
        <%= f.text_field :zip, class: 'form-control', maxlength: 8 %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.fields_for(:picking_times) do |f| %>
        <div class="form-inline">
          <% PickingTime::WEEKDAYS.each do |weekday| %>
            <div class="control-group">
              <%= f.label weekday, :style => "min-width: 80px;" %>
              <%= f.select weekday, options_for_select([["Sem coleta", ""]].concat(PickingTime::HOURS), @shop.picking_times.find_by_weekday(weekday).try(:hour)), { :as => weekday }, :class => "form-control input-medium" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <hr>

  <div class="row">
    <fieldset class="col-md-4">
      <legend>Correios</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_correios %>
          <%= Shop.human_attribute_name(:forward_to_correios) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :declare_value %>
        <%= f.select(:declare_value, [["Não", false], ["Sim", true]], {include_blank: false}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= f.label :correios_code %>
        <%= f.text_field :correios_code, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :correios_password %>
        <%= f.text_field :correios_password, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="col-md-4">
      <legend>Axado</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_axado %>
          <%= Shop.human_attribute_name(:forward_to_axado) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :axado_token %>
        <%= f.text_field :axado_token, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="col-md-4">
      <legend>Intelipost</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_intelipost %>
          <%= Shop.human_attribute_name(:forward_to_intelipost) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :order_prefix %>
        <%= f.text_field :order_prefix, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :intelipost_token %>
        <%= f.text_field :intelipost_token, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset class="col-md-4">
      <legend>TNT/Mercúrio</legend>
      <div class="checkbox">
        <label>
          <%= f.check_box :forward_to_tnt %>
          <%= Shop.human_attribute_name(:forward_to_tnt) %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :tnt_email %>
        <%= f.text_field :tnt_email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tnt_cnpj %>
        <%= f.text_field :tnt_cnpj, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tnt_ie %>
        <%= f.text_field :tnt_ie, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tnt_delivery_type %>
        <%= f.select :tnt_delivery_type, @shop.delivery_types.pluck(:name), {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tnt_service_id %>
        <%= f.select :tnt_service_id, [["Rodoviário", 3], ["Aéreo", 1]], {}, class: 'form-control' %>
      </div>
    </fieldset>
  </div>

  <div class="row" style="margin-top: 30px;">
    <fieldset class="col-md-6">
      <legend>Backup</legend>
      <div class="form-group">
        <%= f.label :backup_method_id %>
        (No caso de API offline)
        <%= f.select :backup_method_id, @shop.methods.map { |m| [m.name, m.id] },{include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', shops_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
