<%= form_for([@shop, @period]) do |f| %>

  <%= render 'shared/error_messages', resource: @period %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :days_off %>
        <div class="multiselect">
          <%= f.select :days_off, options_for_select(Period::DAYS, :selected => @period.days_off), {:include_blank => false}, {:multiple => true} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :limit_time %>
        <%= f.time_select :limit_time, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="period[exception_date]">Datas excepcionais</label>
      <% @period.exception_date.each do |date| %>
        <div class="form-group">
          <input name="period[exception_date][]" type="text" value="<%= date %>" class="form-control">
        </div>
      <% end %>
      <div class="form-group text-right">
        <a href="#" id="new_exception">Adicionar</a>
      </div>
    </div>
  </div>

  <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', shop_periods_path(@shop), class: 'btn btn-default' %>

<% end %>

<script>
$(".multiselect").multiselect({
   minWidth: '450',
   noneSelectedText: "Selecione...",
   selectedList: 3,
   header: false
});
$("#new_exception").on("click", function(e){
  e.preventDefault();
  $('<div class="form-group"><input name="period[exception_date][]" type="text" class="form-control"></div>').insertBefore($(this).parent());
});
</script>
