

<div id="main-form" class="">
  <%= form_for [@shop, @method], html: { id: 'shipping_method_form' } do |f| %>
    <% content_for :actions do %>
      <%= f.check_box :enabled, class: 'switch', form: 'shipping_method_form' %>
    <% end %>

    <%= render 'shared/error_messages', resource: @method %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :min_weigth %>
          <div class="input-group">
            <%= f.text_field :min_weigth, class: 'form-control' %>
            <div class="input-group-addon">kg</div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :max_weigth %>
          <div class="input-group">
            <%= f.text_field :max_weigth, class: 'form-control' %>
            <div class="input-group-addon">kg</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <div class="selectbox">
            <label>
              <%= f.label :delivery_type_id %>
              <%= f.collection_select :delivery_type_id, @delivery_types, :id, :name, {prompt: "Selecione o tipo de entrega"}, {class: "form-control"} %>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="selectbox">
            <label>
              <%= f.label :data_origin %>
              <%= f.select :data_origin, @shop.enabled_origins, {prompt: "Selecione o tipo de entrega"}, class: "form-control" %>
            </label>
          </div>

          <div class="selectbox correios-services">
            <label>
              <%= f.label :service %>
              <%= f.select :service, @correios_services.map{|k,v| [v,k]}, {prompt: "Selecione o tipo de entrega"}, class: "form-control" %>
            </label>
          </div>
        </div>
      </div>
    </div>


    <table class="table table-form block-rules">
      <thead>
        <tr>
          <th>Ação</th>
          <th>CEP Início</th>
          <th>CEP Fim</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="block_rule_fields">

        <%= f.fields_for :block_rules do |builder| %>
          <%= render 'form_block_item', f: builder %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <%= link_to 'javascript:void(0)', class: 'btn btn-default btn-block',
                data: { add_item: new_form_item(f, :block_rules, 'form_block_item'), add_target: '#block_rule_fields' } do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>

    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', shop_shipping_methods_path(@shop), class: 'btn btn-default' %>
    <%= link_to 'Copiar para todas as lojas', copy_to_all_shops_shop_shipping_method_path(@shop, @method), data: { confirm: "Tem certeza que deseja copiar o método: '#{@method.name}' para todas as lojas?" }, class: 'btn-sm btn-danger' if @method.persisted? %>
  <% end %>
</div>

<div id="zip-codes-form" class="">
    
</div>  


<% if @method.id %>
  <script type="text/javascript">
    $(function(){

      $.ajax({
        type: "GET",
        dataType: 'script',
        url: '<%= shop_shipping_method_zip_rules_path(@shop, @method) %>'      
      });

      var newZipRule = function(){
        $("#zip-code-messages").html('');
        var form_clone = $('.zip-rule-form:first').clone();
        form_clone.find('input').val('');
        form_clone.attr('action', '<%= shop_shipping_method_zip_rules_path(@shop, @method) %>');
        form_clone.attr('id', 'new');

        form_clone.find('.multiselect').multiselect({
           noneSelectedText: "Selecione...",
           selectedList: 3,
           header: false
        });

        form_clone.find('.multiselect').parent('div').find('button:last').remove();
        return form_clone;
      };

      var cloneZipRuleFrom = function(formToClone){
        $("#zip-code-messages").html('');
        var form_clone = formToClone.clone();
        form_clone.attr('action', '<%= shop_shipping_method_zip_rules_path(@shop, @method) %>');
        form_clone.attr('id', 'new');
        form_clone.find('[name=_method]').val('post')

        form_clone.find('.multiselect').multiselect({
           noneSelectedText: "Selecione...",
           selectedList: 3,
           header: false
        });

        form_clone.find('.multiselect').parent('div').find('button:last').remove();
        return form_clone;
      }

      $(document.body).on('click', 'button#new_zip_rule', function(){
        $('#zip-rules-container').append(newZipRule());
      });    

      $(document.body).on('click', '[data-clone-zip-rule]', function (e) {
        var formToClone = $(this).parents('form');
        cloneZipRuleFrom(formToClone).insertAfter(formToClone);
      });
    });
  </script>
<% end %>
<script>

  (function () {
    

    
    var maskInputs = function (ctx) {
      $('[data-mask-money]', ctx).mask("#.##0,00", { reverse: true, maxlength: false })
      $('[data-mask-zip]', ctx).mask("00000-000");
    };

    var $addItem = $('[data-add-item]');
    var $addItemTarget = $($addItem.data('addTarget'));
    var itemTemplate = $addItem.data('addItem');

    var addItem = function (append) {
      var index = new Date().getTime();
      var item = itemTemplate.replace(/\[\$\]/g, '[' + index + ']');
      var $item = $(item);
      $item.attr('data-index', index);
      append($item);
      maskInputs($addItemTarget);
    }

    $(document.body).on('click', '[data-add-item]', function (e) {
      e.preventDefault();
      $addItem = $(this);
      $addItemTarget = $($(this).data('addTarget'));
      itemTemplate = $addItem.data('addItem');
      addItem(function ($i) { $addItemTarget.append($i); });
    });

    $(document.body).on('click', '[data-remove-parent]', function (e) {
      e.preventDefault();
      var $this = $(e.currentTarget);
      var $target = $this.parents($this.data('removeParent'));
      $target.hide();
      $target.find('[name$="[_destroy]"]').val('1');
    });

    $(document.body).on('click', '[data-clone-rule]', function (e) {
      var $target = $(this).parents('tr');
      var inputNames = ['min', 'max', 'price', 'deadline'];

      addItem(function ($i) {
        $target.after($i);
        $.each(inputNames, function (i, name) {
          $i.find('[name$="[' + name + ']"]').val(
            $target.find('[name$="[' + name + ']"]').val()
          );
        });
      });
    });

    function changeDataOrigin(){
      if( $("#shipping_method_data_origin").val() == "local" ) {
        $("table.rules").show();
        $("table.block-rules").hide();
        $(".correios-services").hide();
      } else {
        $("table.rules").hide();
        $("table.block-rules").show();

        if( $("#shipping_method_data_origin").val() == "correios" ) {
          $(".correios-services").show();
        } else {
          $(".correios-services").hide();
        }
      }
    }
    changeDataOrigin()
    $(document.body).on('change', '#shipping_method_data_origin', changeDataOrigin);

    maskInputs(document.body);
  }());
</script>
