<tr data-index="<%= f.index %>">
  <td><%= f.text_field :min, data: { mask_zip: true }, class: 'form-control' %></td>
  <td><%= f.text_field :max, data: { mask_zip: true }, class: 'form-control' %></td>
  <td style="width: 140px;">
    <div class="input-group">
      <span class="input-group-addon">R$</span>
      <%= f.text_field :price, data: { mask_money: true }, class: 'text-right form-control' %>
    </div>
  </td>
  <td style="width: 140px;"><%= f.text_field :deadline, class: 'form-control' %></td>

  <% unless @shop.periods.empty?  %>
    <td style="width: 250px;">
      <div class="multiselect">
          <%= f.select :period_ids, options_for_select(@shop.periods.collect { |p| [p.name, p.id] }), {:include_blank => false}, {:multiple => true} %>
      </div>
    </td>
    <% end %>
  <td style="width: 90px;">
    <%= link_to 'javascript:void(0)', class: 'btn btn-default',
        data: { clone_rule: true } do %>
      <span class="glyphicon glyphicon-retweet"></span>
    <% end %>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'javascript:void(0)', class: 'btn btn-default',
        data: { remove_parent: 'tr' } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
</tr>

<script>
$(".multiselect").multiselect({
   noneSelectedText: "Selecione...",
   selectedList: 3,
   header: false
});
</script>
