<div id="main-form" class="">
  <%= form_for [@shop, @method], html: { id: 'shipping_method_form' } do |f| %>
    <% content_for :actions do %>
      <%= f.check_box :enabled, class: 'switch', form: 'shipping_method_form' %>
    <% end %>

    <%= render 'shared/error_messages', resource: @method %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :min_weigth %>
          <div class="input-group">
            <%= f.text_field :min_weigth, class: 'form-control' %>
            <div class="input-group-addon">kg</div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :max_weigth %>
          <div class="input-group">
            <%= f.text_field :max_weigth, class: 'form-control' %>
            <div class="input-group-addon">kg</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="selectbox">
            <label>
              <%= f.label :delivery_type_id %>
              <%= f.collection_select :delivery_type_id, @delivery_types, :id, :name, {prompt: "Selecione o tipo de entrega"}, {class: "form-control"} %>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="selectbox">
            <label>
              <%= f.label :data_origin %>
              <%= f.select :data_origin, @shop.enabled_origins, {prompt: "Selecione o tipo de entrega"}, class: "form-control" %>
            </label>
          </div>

          <div class="selectbox correios-services items-container">
            <label>
              <%= f.label :service %>
              <%= f.select :service, @correios_services.map{|k,v| [v,k]}, {prompt: "Selecione o tipo de entrega"}, class: "form-control" %>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :notice %>
          <%= f.text_area :notice, class: 'form-control' %>
        </div>
      </div>
    </div>
    <br>
    <table class="table table-form block-rules items-container">
      <thead>
        <tr>
          <th>Ação</th>
          <th>CEP Início</th>
          <th>CEP Fim</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="block_rule_fields">

        <%= f.fields_for :block_rules do |builder| %>
          <%= render 'form_block_item', f: builder %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <%= link_to 'javascript:void(0)', class: 'btn btn-default btn-block',
                data: { add_item: new_form_item(f, :block_rules, 'form_block_item'), add_target: '#block_rule_fields' } do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>

    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', shop_shipping_methods_path(@shop), class: 'btn btn-default' %>
    <%= link_to 'Copiar para todas as lojas', copy_to_all_shops_shop_shipping_method_path(@shop, @method), data: { confirm: "Tem certeza que deseja copiar o método: '#{@method.name}' para todas as lojas?" }, class: 'btn-sm btn-danger' if @method.persisted? %>
  <% end %>
</div>

<style>
  .zip-codes-container{
    margin-top: 70px;
  }

  .zip-codes-container .zip-code-row{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ddd;
  }

 .zip-codes-container .panel {
    margin-top: 70px;
 }

 .zip-codes-container .panel .zip-codes-header {
  font-weight: bold;
 }

 .zip-codes-container .panel .zip-code {
    width: 130px;
  }

  .zip-codes-container .panel .price {
    width: 180px;
  }

  .zip-codes-container .panel .deadline {
    width: 100px;
  }

  .zip-codes-container .panel .period {
    width: 290px;
  }


</style>

<% if @method.persisted? %>
  <script type="text/javascript">
    var $service = {
      getZipRules: function(){
        $.ajax({
          type: "GET",
          dataType: 'script',
          url: '<%= shop_shipping_method_zip_rules_path(@shop, @method) %>'
        });
      },

      getMapRules: function(){
        $.ajax({
          type: "GET",
          dataType: 'script',
          url: '<%= shop_shipping_method_map_rules_path(@shop, @method) %>'
        });
      },

      getPlaces: function() {
        $.ajax({
          type: "GET",
          dataType: 'script',
          url: '<%= shop_shipping_method_places_path(@shop, @method) %>'
        });
      }
    };

    $(document.body).on('click', '.map-rule-destroy', function(){
      $(this).parents('.zip-code-row').remove();
    });

  </script>

  <div id="zip-rules-form" class="zip-codes-container items-container" style="display: <%= @method.data_origin.eql?('local') ? '' : 'none' %>">
    <div id="zip-rules-panel" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
            <button id="new_zip_rule" class="btn btn-default">Nova regra</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="zip-messages"></div>
        <div class="zip-container"></div>
      </div>
    </div>
  </div>

  <div id="map-rules-form" class="zip-codes-container items-container" style="display: <%= @method.data_origin.eql?('google_maps') ? '' : 'none' %>">
    <div id="map-rules-panel" class="panel panel-default">
      <div class="panel-heading">
        <%= form_for @method, url: download_kml_shop_shipping_method_map_rules_path(@shop, @method), remote: true, method: :get do |f| %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :mid %>
                <%= f.text_field :mid, class: 'form-control' %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="btn-group" style="margin-top: 27px;">
                <%= f.submit "Baixar Mapa", class: 'btn btn-default btn-sm' %>
                <button class="btn btn-success btn-sm" id="show-map">Ver mapa</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= render 'map' %>

      <div class="panel-body">
        <div class="zip-messages"></div>
        <div class="zip-container"></div>
      </div>
    </div>
  </div>

  <div id="places-form" class="zip-codes-container items-container" style="display: <%= @method.data_origin.eql?('places') ? '' : 'none' %>">
    <div id="places-panel" class="panel panel-default">
      <div class="panel-heading">
        <a href="<%= shop_shipping_method_places_url(@shop, @method, force: true) %>" class="btn btn-default" data-remote="true" data-method="get">
          Baixar places
        </a>
      </div>
      <div class="panel-body">
        <div class="places-messages"></div>
        <div class="places-container"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
      var newZipRule = function(){
        var form_clone = cloneZipRuleFrom($('.zip-code-row:first'));
        form_clone.find('form').attr('action', '/shops/<%= @shop.id %>/shipping_methods/<%= @method.id %>/zip_rules');
        form_clone.find('input').val('');

        return form_clone;
      };

      var cloneZipRuleFrom = function(formToClone){
        $("#zip-code-messages").html('');
        var form_clone = formToClone.clone();
        form_clone.find('form').attr('action', '<%= shop_shipping_method_zip_rules_path(@shop, @method) %>');
        form_clone.find('form').attr('id', 'new');
        form_clone.find('[name=_method]').val('post')

        form_clone.find('.multiselect').multiselect({
           noneSelectedText: "Selecione...",
           selectedList: 3,
           header: false
        });

        form_clone.find('.multiselect').parent('div').find('button:last').remove();
        return form_clone;
      }

      $(document.body).on('click', 'button#new_zip_rule', function(){
        newZipRule().insertBefore($('.zip-code-row:first'));
      });

      $(document.body).on('click', '[data-clone-zip-rule]', function (e) {
        var formToClone = $(this).parents('.zip-code-row');
        cloneZipRuleFrom(formToClone).insertAfter(formToClone);
      });
    });
  </script>
<% end %>
<script>

  (function () {

    var maskInputs = function (ctx) {
      $('[data-mask-money]', ctx).mask("#.##0,00", { reverse: true, maxlength: false })
      $('[data-mask-zip]', ctx).mask("00000-000");
    };

    var $addItem = $('[data-add-item]');
    var $addItemTarget = $($addItem.data('addTarget'));
    var itemTemplate = $addItem.data('addItem');

    var addItem = function (append) {
      var index = new Date().getTime();
      var item = itemTemplate.replace(/\[\$\]/g, '[' + index + ']');
      var $item = $(item);
      $item.attr('data-index', index);
      append($item);
      maskInputs($addItemTarget);
    }

    $(document.body).on('click', '[data-add-item]', function (e) {
      e.preventDefault();
      $addItem = $(this);
      $addItemTarget = $($(this).data('addTarget'));
      itemTemplate = $addItem.data('addItem');
      addItem(function ($i) { $addItemTarget.append($i); });
    });

    $(document.body).on('click', '[data-remove-parent]', function (e) {
      e.preventDefault();
      var $this = $(e.currentTarget);
      var $target = $this.parents($this.data('removeParent'));
      $target.hide();
      $target.find('[name$="[_destroy]"]').val('1');
    });

    $(document.body).on('click', '[data-clone-rule]', function (e) {
      var $target = $(this).parents('tr');
      var inputNames = ['min', 'max', 'price', 'deadline'];

      addItem(function ($i) {
        $target.after($i);
        $.each(inputNames, function (i, name) {
          $i.find('[name$="[' + name + ']"]').val(
            $target.find('[name$="[' + name + ']"]').val()
          );
        });
      });
    });

    function changeDataOrigin(){
      $('.items-container').hide(); // hide everything

      if( $("#shipping_method_data_origin").val() == "local" ) {
        $('#zip-rules-form').show();
        if (typeof $service !== 'undefined'){
          $service.getZipRules();
        }
      } else if ($("#shipping_method_data_origin").val() == "google_maps") {
        $('#map-rules-form').show();
        if (typeof $service !== 'undefined'){
          $service.getMapRules();
        }
      } else if ($("#shipping_method_data_origin").val() == "correios") {
        $(".correios-services").show();
        $("table.block-rules").show();
      } else if ($("#shipping_method_data_origin").val() == "places") {
        $('#places-form').show();
        if (typeof $service !== 'undefined'){
          $service.getPlaces();
        }
      } else {
        $("table.block-rules").show();
      }
    }
    changeDataOrigin()
    $(document.body).on('change', '#shipping_method_data_origin', changeDataOrigin);

    maskInputs(document.body);
  }());

  $(document).ready(function () {
    $("#show-map").bind("click", function(){
      var map_id = $("#shipping_method_mid").val();
      $("#mid_map").html("<iframe src='https://www.google.com/maps/d/u/0/embed?mid="+ map_id +"' width='100%' height='480'></iframe>");
      $("#myModal").modal('show');
    });
  });
</script>
