<%= form_for [@shop, @method], html: { id: 'shipping_method_form' } do |f| %>
  <% content_for :actions do %>
    <%= f.check_box :enabled, class: 'switch', form: 'shipping_method_form' %>
  <% end %>

  <%= render 'shared/error_messages', resource: @method %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :min_weigth %>
        <div class="input-group">
          <%= f.text_field :min_weigth, class: 'form-control' %>
          <div class="input-group-addon">kg</div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :max_weigth %>
        <div class="input-group">
          <%= f.text_field :max_weigth, class: 'form-control' %>
          <div class="input-group-addon">kg</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="selectbox">
        <label>
          <%= f.label :delivery_type_id %>
          <%= f.collection_select :delivery_type_id, @delivery_types, :id, :name, {prompt: "Selecione o tipo de entrega"}, {class: "form-control"} %>
        </label>
      </div>
    </div>
  </div>



  <table class="table table-form">
    <thead>
      <tr>
        <th>CEP Início</th>
        <th>CEP Fim</th>
        <th>Preço</th>
        <th>Prazo</th>
        <% unless @shop.periods.empty?  %>
          <th>Período</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody id="zip_rule_fields">
      <% 3.times { @method.zip_rules.build } if @method.zip_rules.none? %>
      <%= f.fields_for :zip_rules do |builder| %>
        <%= render 'form_item', f: builder %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <%= link_to 'javascript:void(0)', class: 'btn btn-default btn-block',
              data: { add_item: new_form_item(f, :zip_rules, 'form_item'), add_target: '#zip_rule_fields' } do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>

  <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', shop_shipping_methods_path(@shop), class: 'btn btn-default' %>
  <%= link_to 'Copiar para todas as lojas', copy_to_all_shops_shop_shipping_method_path(@shop, @method), class: 'btn-sm btn-danger' if @method.persisted? %>
<% end %>

<script>
  (function () {
    var maskInputs = function (ctx) {
      $('[data-mask-money]', ctx).mask("#.##0,00", { reverse: true, maxlength: false })
      $('[data-mask-zip]', ctx).mask("00000-000");
    };

    var $addItem = $('[data-add-item]');
    var $addItemTarget = $($addItem.data('addTarget'));
    var itemTemplate = $addItem.data('addItem');

    var addItem = function (append) {
      var index = new Date().getTime();
      var item = itemTemplate.replace(/\[\$\]/g, '[' + index + ']');
      var $item = $(item);
      $item.attr('data-index', index);
      append($item);
      maskInputs($addItemTarget);
    }

    $('[data-add-item]').click(function (e) {
      e.preventDefault();
      addItem(function ($i) { $addItemTarget.append($i); });
    });

    $(document.body).on('click', '[data-remove-parent]', function (e) {
      e.preventDefault();
      var $this = $(e.currentTarget);
      var $target = $this.parents($this.data('removeParent'));
      $target.hide();
      $target.find('[name$="[_destroy]"]').val('1');
    });

    $(document.body).on('click', '[data-clone-rule]', function (e) {
      var $target = $(this).parents('tr');
      var inputNames = ['min', 'max', 'price', 'deadline'];
      addItem(function ($i) {
        $target.after($i);
        $.each(inputNames, function (i, name) {
          $i.find('[name$="[' + name + ']"]').val(
            $target.find('[name$="[' + name + ']"]').val()
          );
        });
      });
    });

    maskInputs(document.body);
  }());
</script>
