<% content_for :title, 'Importar planilhas' %>

<div class="selectbox correios-services">
  <label>
    <%= label_tag :service %>
    <%= select_tag :service, options_for_select(@correios_services.map{|k,v| [v,k]}), {prompt: "Selecione o serviço", class: "form-control"} %>
  </label>
</div>

<div class="selectbox correios-services">
  <label>
    <%= label_tag :type %>
    <%= select_tag :delivery_type, options_for_select(@delivery_types.map{|t| [t.name,t.id]}), {prompt: "Selecione o tipo de entrega", class: "form-control"} %>
  </label>
</div>

<div>
  <button id="import_now">Importar</button>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>

<div id="errors">
  <p style="display:none;">Linhas com erro</p>
  <ul></ul>
</div>

<textarea name="csv" style="font-family: 'Courier New'; width: 50%; font-size: 10px; height: 500px;">
  "ZipCodeStart","ZipCodeEnd","PolygonName","WeightStart","WeightEnd","AbsoluteMoneyCost","PricePercent","PriceByExtraWeight","MaxVolume","TimeCost","Country","MinimumValueInsurance"
  "69900000","69920999","","0","300","21.16","0","0","10000000","5","BRA","0"
  "26100000","26199999","","0","300","22.29","0","0","10000000","2","BRA","0"
  "59000000","59139999","","0","300","30.55","0","0","10000000","3","BRA","0"
  "92000000","92449999","","0","300","12.46","0","0","10000000","1","BRA","0"
  "59140000","59161999","","0","300","39.39","0","0","10000000","4","BRA","0"
  "90000000","91999999","","0","300","9.67","0","0","10000000","1","BRA","0"
  "88000000","88099999","","0","300","14.91","0","0","10000000","1","BRA","0"
  "88100000","88123999","","0","300","12.46","0","0","10000000","2","BRA","0"
  "57000000","57099999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "01000000","09999999","","0","300","NaN","0","0","10000000","","BRA","0"
  "49000000","49098999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "11000000","11249999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "77000000","77249999","","0","300","21.16","0","0","10000000","2","BRA","0"
  "40000000","42599999","","0","300","21.16","0","0","10000000","3","BRA","0"
  "69000000","69099999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "60000000","60999999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "42700000","42700999","","0","300","31.93","0","0","10000000","5","BRA","0"
  "61600000","61659999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "26200000","26299999","","0","300","22.29","0","0","10000000","2","BRA","0"
  "93000000","93179999","","0","300","12.46","0","0","10000000","1","BRA","0"
  "59600000","59649999","","0","300","39.39","0","0","10000000","4","BRA","0"
  "70000000","70639999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "70640000","70699999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "88130000","88138999","","0","300","12.46","0","0","10000000","2","BRA","0"
  "11250000","11299999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "44000000","44099999","","0","300","31.93","0","0","10000000","5","BRA","0"
  "61900000","61939999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "26500000","26549999","","0","300","22.29","0","0","10000000","2","BRA","0"
  "29000000","29099999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "29100000","29134999","","0","300","31.93","0","0","10000000","2","BRA","0"
  "93200000","93249999","","0","300","12.46","0","0","10000000","1","BRA","0"
  "70700000","70999999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "11300000","11399999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "88300000","88319999","","0","300","12.46","0","0","10000000","2","BRA","0"
  "71000000","71499999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "45000000","45099999","","0","300","31.93","0","0","10000000","5","BRA","0"
  "74000000","74799999","","0","300","21.16","0","0","10000000","2","BRA","0"
  "26550000","26599999","","0","300","22.29","0","0","10000000","2","BRA","0"
  "29140000","29159999","","0","300","31.93","0","0","10000000","2","BRA","0"
  "72870001","72879999","","0","300","21.16","0","0","10000000","2","BRA","0"
  "69900000","69920999","","300","500","21.16","0","0","10000000","5","BRA","0"
  "26100000","26199999","","300","500","22.29","0","0","10000000","2","BRA","0"
  "59000000","59139999","","300","500","30.55","0","0","10000000","3","BRA","0"
  "59140000","59161999","","300","500","39.39","0","0","10000000","4","BRA","0"
  "59600000","59649999","","300","500","39.39","0","0","10000000","4","BRA","0"
  "90000000","91999999","","300","500","9.67","0","0","10000000","1","BRA","0"
  "92000000","92449999","","300","500","12.46","0","0","10000000","1","BRA","0"
  "88000000","88099999","","300","500","14.91","0","0","10000000","1","BRA","0"
  "88100000","88123999","","300","500","12.46","0","0","10000000","2","BRA","0"
  "49000000","49098999","","300","500","30.55","0","0","10000000","2","BRA","0"
  "11000000","11249999","","300","500","18.05","0","0","10000000","1","BRA","0"
  "11400000","11499999","","300","500","18.05","0","0","10000000","1","BRA","0"
  "11250000","11299999","","300","500","18.05","0","0","10000000","1","BRA","0"
  "11300000","11399999","","300","500","18.05","0","0","10000000","1","BRA","0"
  "93250000","93299999","","0","300","12.46","0","0","10000000","1","BRA","0"
  "01000000","09999999","","300","500","NaN","0","0","10000000","","BRA","0"
  "65000000","65099999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "77000000","77249999","","300","500","21.16","0","0","10000000","2","BRA","0"
  "57000000","57099999","","300","500","30.55","0","0","10000000","2","BRA","0"
  "30000000","31999999","","0","300","21.16","0","0","10000000","2","BRA","0"
  "32000000","32399999","","0","300","31.93","0","0","10000000","3","BRA","0"
  "69000000","69099999","","300","500","30.55","0","0","10000000","2","BRA","0"
  "11400000","11499999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "88330000","88339999","","0","300","12.46","0","0","10000000","2","BRA","0"
  "45650000","45659999","","0","300","31.93","0","0","10000000","5","BRA","0"
  "71500000","71569999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "40000000","42599999","","300","500","21.16","0","0","10000000","3","BRA","0"
  "42700000","42700999","","300","500","31.93","0","0","10000000","5","BRA","0"
  "27200000","27299999","","0","300","22.29","0","0","10000000","2","BRA","0"
  "26200000","26299999","","300","500","22.29","0","0","10000000","2","BRA","0"
  "29160000","29184999","","0","300","31.93","0","0","10000000","2","BRA","0"
  "74800000","74999999","","0","300","21.16","0","0","10000000","2","BRA","0"
  "60000000","60999999","","300","500","30.55","0","0","10000000","2","BRA","0"
  "61600000","61659999","","300","500","30.55","0","0","10000000","2","BRA","0"
  "93000000","93179999","","300","500","12.46","0","0","10000000","1","BRA","0"
  "70000000","70639999","","300","500","21.16","0","0","10000000","1","BRA","0"
  "88130000","88138999","","300","500","12.46","0","0","10000000","2","BRA","0"
  "79000000","79124999","","0","300","18.05","0","0","10000000","2","BRA","0"
  "11500000","11599999","","300","500","18.05","0","0","10000000","1","BRA","0"
  "79800000","79849999","","0","300","22.29","0","0","10000000","3","BRA","0"
  "70640000","70699999","","300","500","21.16","0","0","10000000","1","BRA","0"
  "78000000","78099999","","0","300","21.16","0","0","10000000","3","BRA","0"
  "78700000","78750999","","0","300","31.93","0","0","10000000","4","BRA","0"
  "66000000","66999999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "67000000","67199999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "58000000","58099999","","0","300","30.55","0","0","10000000","3","BRA","0"
  "93300000","93519999","","0","300","12.46","0","0","10000000","1","BRA","0"
  "58400000","58439999","","0","300","39.39","0","0","10000000","4","BRA","0"
  "50000000","52999999","","0","300","30.55","0","0","10000000","3","BRA","0"
  "53000000","53399999","","0","300","39.39","0","0","10000000","4","BRA","0"
  "32400000","32499999","","0","300","31.93","0","0","10000000","3","BRA","0"
  "64000000","64099999","","0","300","30.55","0","0","10000000","2","BRA","0"
  "11500000","11599999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "88350000","88359999","","0","300","12.46","0","0","10000000","2","BRA","0"
  "80000000","82999999","","0","300","14.91","0","0","10000000","1","BRA","0"
  "71570000","71599999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "83000000","83149999","","0","300","17.97","0","0","10000000","2","BRA","0"
  "69900000","69920999","","500","750","25.57","0","0","10000000","5","BRA","0"
  "26100000","26199999","","500","750","31.14","0","0","10000000","2","BRA","0"
  "59000000","59139999","","500","750","43.67","0","0","10000000","3","BRA","0"
  "59140000","59161999","","500","750","55.79","0","0","10000000","4","BRA","0"
  "90000000","91999999","","500","750","11.69","0","0","10000000","1","BRA","0"
  "92000000","92449999","","500","750","15.32","0","0","10000000","1","BRA","0"
  "88000000","88099999","","500","750","25.23","0","0","10000000","1","BRA","0"
  "88100000","88123999","","500","750","15.32","0","0","10000000","2","BRA","0"
  "49000000","49098999","","500","750","43.67","0","0","10000000","2","BRA","0"
  "01000000","09999999","","500","750","NaN","0","0","10000000","","BRA","0"
  "11000000","11249999","","500","750","28.55","0","0","10000000","1","BRA","0"
  "77000000","77249999","","500","750","25.57","0","0","10000000","2","BRA","0"
  "57000000","57099999","","500","750","43.67","0","0","10000000","2","BRA","0"
  "44000000","44099999","","300","500","31.93","0","0","10000000","5","BRA","0"
  "27300000","27399999","","0","300","22.29","0","0","10000000","2","BRA","0"
  "26500000","26549999","","300","500","22.29","0","0","10000000","2","BRA","0"
  "29200000","29229999","","0","300","31.93","0","0","10000000","2","BRA","0"
  "75000001","75149999","","0","300","21.16","0","0","10000000","2","BRA","0"
  "69000000","69099999","","500","750","43.67","0","0","10000000","2","BRA","0"
  "20000000","20299999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "40000000","42599999","","500","750","25.57","0","0","10000000","3","BRA","0"
  "61900000","61939999","","300","500","30.55","0","0","10000000","2","BRA","0"
  "93200000","93249999","","300","500","12.46","0","0","10000000","1","BRA","0"
  "42700000","42700999","","500","750","44.21","0","0","10000000","5","BRA","0"
  "70700000","70999999","","300","500","21.16","0","0","10000000","1","BRA","0"
  "88300000","88319999","","300","500","12.46","0","0","10000000","2","BRA","0"
  "29000000","29099999","","300","500","21.16","0","0","10000000","1","BRA","0"
  "71000000","71499999","","300","500","21.16","0","0","10000000","1","BRA","0"
  "11700000","11729999","","300","500","18.05","0","0","10000000","1","BRA","0"
  "29100000","29134999","","300","500","31.93","0","0","10000000","2","BRA","0"
  "60000000","60999999","","500","750","43.67","0","0","10000000","2","BRA","0"
  "94000000","94339999","","0","300","12.46","0","0","10000000","1","BRA","0"
  "53400000","53499999","","0","300","39.39","0","0","10000000","4","BRA","0"
  "61600000","61659999","","500","750","43.67","0","0","10000000","2","BRA","0"
  "32500000","32899999","","0","300","31.93","0","0","10000000","3","BRA","0"
  "11700000","11729999","","0","300","18.05","0","0","10000000","1","BRA","0"
  "70000000","70639999","","500","750","25.57","0","0","10000000","1","BRA","0"
  "88495000","88495999","","0","300","12.46","0","0","10000000","2","BRA","0"
  "71600000","71689999","","0","300","21.16","0","0","10000000","1","BRA","0"
  "74000000","74799999","","300","500","21.16","0","0","10000000","2","BRA","0"
  "72870001","72879999","","300","500","21.16","0","0","10000000","2","BRA","0"
  "70640000","70699999","","500","750","25.57","0","0","10000000","1","BRA","0"
  "83320000","83349999","","0","300","17.97","0","0","10000000","2","BRA","0"
  "26200000","26299999","","500","750","31.14","0","0","10000000","2","BRA","0"
  "59600000","59649999","","500","750","55.79","0","0","10000000","4","BRA","0"
  "69900000","69920999","","750","1000","25.57","0","0","10000000","5","BRA","0"
  "26100000","26199999","","750","1000","31.14","0","0","10000000","2","BRA","0"
  "59000000","59139999","","750","1000","43.67","0","0","10000000","3","BRA","0"
  "59140000","59161999","","750","1000","55.79","0","0","10000000","4","BRA","0"
  "90000000","91999999","","750","1000","11.69","0","0","10000000","1","BRA","0"
  "92000000","92449999","","750","1000","15.32","0","0","10000000","1","BRA","0"
  "88000000","88099999","","750","1000","25.23","0","0","10000000","1","BRA","0"
  "88100000","88123999","","750","1000","15.32","0","0","10000000","2","BRA","0"
  "88130000","88138999","","750","1000","15.32","0","0","10000000","2","BRA","0"
  "49000000","49098999","","750","1000","43.67","0","0","10000000","2","BRA","0"
</textarea>

<SCRIPT TYPE="text/javascript">
  $(function(){
    $("#import_now").on("click", function(){
      var step = 0;
      $('.progress-bar').css('width', step+'%').attr('aria-valuenow', step);
      $("#errors p").hide();
      $("#errors ul").html("");

      var arrayOfLines = $("textarea").val().split("\n");
      var total_lines = arrayOfLines.length;
      var service_id = $("#service").val();
      var service_name = $("#service option:selected").html();
      var delivery_type_id = $("#delivery_type").val();

      $.each(arrayOfLines, function(index, line){
        if(line.indexOf("ZipCodeStart") >= 0) {}
        else {
          $.post(
            '<%= import_line_shop_shipping_methods_path(params[:shop_id]) %>',
            {
              line: line,
              service_id: service_id,
              service_name: service_name,
              delivery_type_id: delivery_type_id
            }
          ).always(function(){
            step = (index + 1) / total_lines * 100;
            $('.progress-bar').css('width', step+'%').attr('aria-valuenow', step);
          }).error(function(){
            $("#errors p").show();
            $("#errors ul").append("<p>"+line+"</p>");
          });
        }
      });

      step = 100;
      $('.progress-bar').css('width', step+'%').attr('aria-valuenow', step);
    });
  });
</SCRIPT>
