<% content_for :title, 'Formas de Entrega' %>

<% content_for :actions do %>
  <%= link_to 'Nova Forma de Entrega', new_shop_shipping_method_path(@shop), class: 'btn btn-success' %>
  <%= link_to 'Importar planilhas', import_shop_shipping_methods_path(@shop), class: 'btn btn-success' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th style="width: 70px"></th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Peso Mínimo</th>
      <th>Peso Máximo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @methods.empty? %>
      <tr><td colspan="4" class="text-center text-muted">Nenhuma Forma de Entrega cadastrada</td></tr>
    <% end %>
    <%= content_tag_for :tr, @methods do |method| %>
      <td>
        <%= check_box_tag :enabled, 1, method.enabled?,
                          class: 'switch enable-shipping-method',
                          data: { size: 'mini', ajax_path: toggle_shop_shipping_method_path(@shop, method) } %>
      </td>
      <td><%= link_to method.name, edit_shop_shipping_method_path(@shop, method) %></td>
      <td><%= method.description %></td>
      <td><%= method.min_weigth %></td>
      <td><%= method.max_weigth %></td>
      <td class="text-right">
        <%= link_to duplicate_shop_shipping_method_path(@shop, method) do %>
          <span class="glyphicon glyphicon-retweet"></span>
        <% end %>
        <%= link_to_destroy shop_shipping_method_path(@shop, method) %>
      </td>
    <% end %>
  </tbody>
</table>

<script>
  $(function () {
    $('.enable-shipping-method').on('switchChange.bootstrapSwitch', function () {
      var $check = $(this);
      var url = $(this).data('ajaxPath');
      $check.bootstrapSwitch('toggleReadonly', true);
      $.ajax({
        url: url,
        type: 'PATCH',
        data: { enabled: this.checked },
        success: function () {
          $check.bootstrapSwitch('toggleReadonly', false);
        },
        error: function () {
          alert('Erro ao atualizar forma de entrega.');
          $check.bootstrapSwitch('toggleReadonly', false);
          $check.bootstrapSwitch('toggleState', !$check.prop('checked'), true);
        }
      });
    });
  });
</script>
