<p id="notice"><%= notice %></p>

<p>
  <strong>Cart ID:</strong> <%= @quote.cart_id %>
</p>

<p>
  <strong>External Request:</strong> <%= @quote.external_request %>
</p>

<p>
  <strong>External Response:</strong> <%= @quote.external_response %>
</p>

<p>
  <strong>Quotations:</strong> <%= @quote.quotations %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @quote.updated_at %>
</p>
