<style>
  #zip-codes-form{
    margin-top: 70px;
  }  
  
  #zip-rules-header{
    font-weight: bold;
  }

  .zip-rule-row{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ddd;
  }

  #zip-rules-panel .zip-code {
    width: 130px;
  }

  #zip-rules-panel .price {
    width: 180px;
  }

  #zip-rules-panel .deadline {
    width: 100px;
  }

  #zip-rules-panel .period {
    width: 290px;
  }

 
</style>


<div id="zip-rules-panel" class="panel panel-default">
  <div class="panel-heading">
    <button id="new_zip_rule" class="btn btn-default">Nova regra</button>
  </div>
  <div class="panel-body">
    <div id="zip-code-messages" class="row">

    </div>

    <div id="zip-rules-header" class="row">
      <div class="col-md-2 zip-code">CEP Início</div>
      <div class="col-md-2 zip-code">CEP Fim</div>
      <div class="col-md-2 price">Preço</div>
      <div class="col-md-2 deadline">Prazo</div>
      <% unless @shop.periods.empty?  %>
        <div class="col-md-2 period">Período</div>
      <% end %>
      <div class="col-md-2"></div>
    </div>

    <div id="zip-rules-container" class="row">
    <% @zip_rules.each do |zip_rule| %>
      <%= render 'zip_rule_form', zip_rule: zip_rule %>
    <% end %>
    </div>
    
  </div>
  <div class="panel-footer">
    <div class="row">
      <%= paginate(@zip_rules, remote: true) if @zip_rules.respond_to?(:total_pages) %>
    </div>
  </div>
</div>





<!--
<%= form_for [@shop, @method], html: { id: 'shipping_method_form' } do |f| %>
  <table class="table table-form rules">
    <thead>
      <tr>
        <th>CEP Início</th>
        <th>CEP Fim</th>
        <th>Preço</th>
        <th>Prazo</th>
        <% unless @shop.periods.empty?  %>
          <th>Período</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody id="zip_rule_fields">
      <%= f.fields_for :zip_rules, @zip_rules do |builder| %>
        <%= render 'form_item', f: builder %>
      <% end %>
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <%= link_to 'javascript:void(0)', class: 'btn btn-default btn-block',
              data: { add_item: new_form_item(f, :zip_rules, 'form_item'), add_target: '#zip_rule_fields' } do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>


-->