<div id="zip-code-messages" class="row">

</div>

<div class="row">
  <div class="col-md-2">CEP Início</div>
  <div class="col-md-2">CEP Fim</div>
  <div class="col-md-2">Preço</div>
  <div class="col-md-2">Prazo</div>
  <% unless @shop.periods.empty?  %>
    <div class="col-md-2">Período</div>
  <% end %>
  <div class="col-md-2"></div>
</div>

<div id="zip-rules-container" class="row">
<% @zip_rules.each do |zip_rule| %>
  <%= form_for [@shop, @method, zip_rule], remote: true, html: {class: 'zip-rule-form'} do |f| %>
    <div>
      <div class="col-md-2">
        <%= f.hidden_field :id %>
        <%= f.text_field :min, value: zero_filed_zip(f.object.min), data: { mask_zip: true }, class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :max, value: zero_filed_zip(f.object.max), data: { mask_zip: true }, class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon">R$</span>
          <%= f.text_field :price, data: { mask_money: true }, class: 'text-right form-control' %>
        </div>
      </div>
      <div class="col-md-2">
        <%= f.text_field :deadline, class: 'form-control' %>
      </div>
      <% unless @shop.periods.empty?  %>
        <div class="col-md-2">
          <div class="multiselect">
            <%= f.select :period_ids, options_for_select(@shop.periods.collect { |p| [p.name, p.id] }, selected: f.object.periods.pluck(:id)), {:include_blank => false}, {:multiple => true} %>
            <%= f.object.periods.pluck(:name) %>
        </div>
        </div>
      <% end %>
      <div class="col-md-2">
        <button type="submit">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <%= link_to 'javascript:void(0)', class: 'btn btn-default',
            data: { clone_rule: true } do %>
          <span class="glyphicon glyphicon-retweet"></span>
        <% end %>
        <%= f.hidden_field :_destroy %>
        <%= link_to 'javascript:void(0)', class: 'btn btn-default',
            data: { remove_parent: 'tr' } do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<div class="row">
  <button id="new_zip_rule" class="btn btn-default">Nova regra</button>
</div>


<script>
$(".multiselect").multiselect({
   noneSelectedText: "Selecione...",
   selectedList: 3,
   header: false
});
</script>

<!--
<%= form_for [@shop, @method], html: { id: 'shipping_method_form' } do |f| %>
  <table class="table table-form rules">
    <thead>
      <tr>
        <th>CEP Início</th>
        <th>CEP Fim</th>
        <th>Preço</th>
        <th>Prazo</th>
        <% unless @shop.periods.empty?  %>
          <th>Período</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody id="zip_rule_fields">
      <%= f.fields_for :zip_rules, @zip_rules do |builder| %>
        <%= render 'form_item', f: builder %>
      <% end %>
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <%= link_to 'javascript:void(0)', class: 'btn btn-default btn-block',
              data: { add_item: new_form_item(f, :zip_rules, 'form_item'), add_target: '#zip_rule_fields' } do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
  <%= will_paginate(@zip_rules) if @zip_rules.respond_to?(:total_pages) %>
<% end %>


-->