<div id="zip-code-messages" class="row">

</div>

<div class="row">
  <div class="col-md-2">CEP Início</div>
  <div class="col-md-2">CEP Fim</div>
  <div class="col-md-2">Preço</div>
  <div class="col-md-2">Prazo</div>
  <% unless @shop.periods.empty?  %>
    <div class="col-md-2">Período</div>
  <% end %>
  <div class="col-md-2"></div>
</div>

<div id="zip-rules-container" class="row">
<% @zip_rules.each do |zip_rule| %>
  <%= render 'zip_rule_form', zip_rule: zip_rule %>
<% end %>
  <%= paginate(@zip_rules, remote: true) if @zip_rules.respond_to?(:total_pages) %>
</div>

<div class="row">
  <button id="new_zip_rule" class="btn btn-default">Nova regra</button>
</div>



<!--
<%= form_for [@shop, @method], html: { id: 'shipping_method_form' } do |f| %>
  <table class="table table-form rules">
    <thead>
      <tr>
        <th>CEP Início</th>
        <th>CEP Fim</th>
        <th>Preço</th>
        <th>Prazo</th>
        <% unless @shop.periods.empty?  %>
          <th>Período</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody id="zip_rule_fields">
      <%= f.fields_for :zip_rules, @zip_rules do |builder| %>
        <%= render 'form_item', f: builder %>
      <% end %>
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <%= link_to 'javascript:void(0)', class: 'btn btn-default btn-block',
              data: { add_item: new_form_item(f, :zip_rules, 'form_item'), add_target: '#zip_rule_fields' } do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>


-->