<%= form_for [@shop, @method, zip_rule], remote: true, html: {id: (zip_rule.persisted? ? zip_rule.id : 'new' ), class: 'zip-rule-form'} do |f| %>
  <div data-zip-rule-id="<%= zip_rule.id %>">
    <div class="col-md-2">
      <%= f.hidden_field :id %>
      <%= f.text_field :min, value: zero_filed_zip(f.object.min), data: { mask_zip: true }, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :max, value: zero_filed_zip(f.object.max), data: { mask_zip: true }, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <%= f.text_field :price, data: { mask_money: true }, class: 'text-right form-control' %>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.text_field :deadline, class: 'form-control' %>
    </div>
    <% unless @shop.periods.empty?  %>
      <div class="col-md-2">
        <div class="multiselect">
          <%= f.select :period_ids, options_for_select(@shop.periods.collect { |p| [p.name, p.id] }, selected: f.object.periods.pluck(:id)), {:include_blank => false}, {:multiple => true} %>
          <%= f.object.periods.pluck(:name) %>
      </div>
      </div>
    <% end %>
    <div class="col-md-2">
      <button type="submit">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <%= link_to 'javascript:void(0)', class: 'btn btn-default',
          data: { clone_rule: true } do %>
        <span class="glyphicon glyphicon-retweet"></span>
      <% end %>
      <%= f.hidden_field :_destroy %>
      <%= link_to zip_rule.persisted? ? shop_shipping_method_zip_rule_path(@shop, @method, zip_rule) : 'javascript:void(0)', class: 'btn btn-default zip-rule-destroy',
          method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  </div>
<% end %>

<script>
$(".multiselect").multiselect({
   noneSelectedText: "Selecione...",
   selectedList: 3,
   header: false
});
</script>
