<div class="zip-code-row col-md-12" data-place-id="<%= place.id %>">
  <%= form_for [@shop, @method, place], remote: true, html: {id: (place.persisted? ? place.id : 'new' ), class: 'place-form'} do |f| %>
    <div>
      <div class="col-md-4">
        <%= place.name %>
      </div>
      <div class="col-md-2 zip-code">
        <%= f.hidden_field :id %>
        <%= f.text_field :min, value: zero_filed_zip(f.object.min), data: { mask_zip: true }, class: 'form-control' %>
      </div>
      <div class="col-md-2 zip-code">
        <%= f.text_field :max, value: zero_filed_zip(f.object.max), data: { mask_zip: true }, class: 'form-control' %>
      </div>
      <div class="col-md-2 zip-code">
        <%= f.text_field :deadline, class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <%= f.hidden_field :_destroy %>
        <%= link_to place.persisted? ? shop_shipping_method_place_url(@shop, @method, place) : 'javascript:void(0)', class: 'btn btn-default place-destroy',
            method: :delete, remote: true do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
